header {
  background-color: #333;
  padding: 10px;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
}

main {
  margin-top: 60px; /* Altezza dell'header */
  margin-bottom: 60px; /* Altezza del footer */
  padding: 20px;

  flex: 1;
  padding: 20px;
}

.profilo {
  float: right;
  display: block;
  cursor: pointer;
  padding: 10px;
  margin: 0 10px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar {
  width: 30px;
  height: 30px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 30px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
  transition: height 0.3s ease-in-out;
}

.dropdown-menu.active {
  display: block;
  height: 100px; /* Regola questa altezza in base alle tue esigenze */
}

.dropdown-menu a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}

@font-face {
  font-family: 'Main_Title_Font';
  src: URL('../ttf/full%20Pack%202025.ttf') format('truetype');
}

.centro {
  align-items: center;
  display: block;
  flex: 1;
  font-family: 'Main_Title_Font';
}

.centro p {
  text-align: center;
  font-size: 2em;
  margin: 0;
}

.logo{
  width: 1.5em;
  height: auto;
}

.menu-icon {
  float: left;
  display: block;
  cursor: pointer;
  padding: 10px;
}

.menu-lines {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: background-color 0.3s;
}

/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn:hover{
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}