            
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.immagine_slide{
    border: 4px solid #8B0000; /* Rosso scuro */
    border-radius: 8px;
}


/* Stile della hero-section */
.hero-section {
    background-color: #8B0000; /* Rosso scuro */
    color: #FFF; /* Bianco */
    text-align: center;
    padding: 80px 0;
    margin: 0;
}

/* Stile del titolo principale nella hero-section */
.main_title h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Stile del testo nella hero-section */
.main_title h3 {
    font-size: 18px;
}

/* Stile del container della about-section */
.container {
    max-width: 800px;
    margin: auto;
}

/* Stile del titolo della about-section */
.about-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #8B0000; /* Rosso scuro */
}

/* Stile del testo della about-section */
.about-section p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Stile della services-section */
.services-section {
    background-color: #F8F8F8; /* Grigio chiaro */
    padding: 80px 0;
}

/* Stile del titolo della services-section */
.services-section h2 {
    font-size: 28px;
    margin-bottom: 40px;
    color: #333; /* Nero */
}

/* Stile dei singoli servizi nella services-section */
.service {
    margin-bottom: 40px;
}

/* Stile del titolo del servizio nella services-section */
.service h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #8B0000; /* Rosso scuro */
}

/* Stile del testo del servizio nella services-section */
.service p {
    font-size: 16px;
    line-height: 1.6;
    color: #333; /* Nero */
}

#main_mainPage{
    padding-left: 0;
    padding-right: 0;
}