/* Stile per la scuderia */
.scuderia {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
.scuderia img {
max-width: 120px; /* Larghezza massima dell'immagine della scuderia */
height: auto;
border-radius: 8px;
margin-bottom: 10px;
}

.scuderia h3 {
text-align: center;
color: #333;
}

/* Stile per il container delle macchine */
#container-macchine {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Stile per le tabelle */
table {
    width: 80%; /* Riduci la larghezza al 80% */
    margin: 20px auto; /* Centra la tabella */
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Aggiungi un'ombra leggera */
}

td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

td img {
    max-width: 120px; /* Riduci la larghezza dell'immagine */
    border-radius: 8px;
}

#main_text{
    text-align: center;
}