/* Stile per la tabella e i contenitori principali */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#outer_table td {
    border: 1px solid darkred;
}

#internal_table td{
    border: 0;
}

td{
    padding: 20px;
    text-align: center;
}

#outer_table tr{
    border-bottom: 1px solid darkred;
}

#internal_table tr{
    border: 0;
}

/* Stile per le squadre */
h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #d9534f; /* Rosso - Cambialo con il colore desiderato */
}

/* Stile per i piloti e le immagini */
.pilota1,
.pilota2,
.logosquadra,
.macchinaimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

#internal_table{
    border: 0;
}

#outer_table{
    border: 4px darkred solid;
}

/* Stile per le immagini dei piloti, il logo della squadra e l'immagine della macchina */
.pilotaimg,
.logosquadra img {
    max-width: 120px; /* Larghezza massima delle immagini */
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra leggera */
}

/* Effetto di transizione su hover */
.pilotaimg:hover,
.logosquadra img:hover,
.macchinaimg img:hover {
    transform: scale(1.1);
}

.logo {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

/* Stile per centrare la macchina orizzontalmente */
.macchinaimg {
    width: 70%; /* Larghezza aumentata */
    margin: 0 auto; /* Centra il contenitore orizzontalmente */
}

.macchinaimg{
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombra leggera */
}


/* Nuova riga per l'immagine della macchina */
.macchina-row {
    display: flex;
    justify-content: center;
}
